HELP.md
indiana-backend/product-api/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
indiana-backend/product-api/.apt_generated
indiana-backend/product-api/.classpath
indiana-backend/product-api/.factorypath
indiana-backend/product-api/.project
indiana-backend/product-api/.settings
indiana-backend/product-api/.springBeans
indiana-backend/product-api.sts4-cache

### IntelliJ IDEA ###
.idea
indiana-backend/product-api/.idea
indiana-frontend/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
indiana-frontend/dist/
/nbdist/
/.nb-gradle/
indiana-frontend/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
