<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 p-6">
  <mat-card
    *ngFor="let card of menuItems"
    class="cursor-pointer hover:shadow-xl transition duration-300 ease-in-out"
    (click)="navigateTo(card.route)"
  >
    <mat-card-content class="flex flex-col items-center justify-center text-center p-4">
      <mat-icon class="text-5xl leading-none text-blue-600 mb-2">{{ card.icon }}</mat-icon>
      <h2 class="text-lg font-semibold">{{ card.title }}</h2>
    </mat-card-content>
  </mat-card>

</div>